body{
    background-image: linear-gradient(to left, skyblue, violet);
    min-height: 100vh;
}
.form{
    padding: 50px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center ;
}
#address{
    border-radius: 10px;
}
.footer{
    display: block;
    text-align: center;
    color: gray;
}